---
import { pbGET } from "@/services/pocketbase";
import Layout from "@/layouts/Layout.astro";
import { getFlag } from "@/utils";

const pbToken = Astro.cookies.get("pbToken")?.value || '';
const cookieParams = new URLSearchParams(pbToken);
const userId = cookieParams.get("user");

const currentUser = await pbGET(
  `/api/collections/users/records/${userId}`, {}, pbToken,
).then((res) => res.data);

const users = await pbGET(
  "/api/collections/users/records", {}, pbToken,
).then((res) => res.data.items.toSorted((a: any, b: any) => ((b.points - a.points) || (a.username.localeCompare(b.username)))));

const games = await pbGET('/api/collections/games/records', {
  sort: 'date',
  expand: 'team_1,team_2',
  perPage: 100
}, pbToken).then(res => res.data.items)


---

<Layout title="Leaderboard">
  <h1>Leaderboard</h1>

  <center>
    <table class="min-w-full sm:min-w-96">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {users.map((user: any, index: number) => (
          <tr class={user.id === currentUser.id ? "text-purple-400 bg-slate-900 font-bold" : ""}>
            <td title={user.email}>{user.username} {(index === 0 && user.points > 0) && '🏆'}</td>
            <td class="text-center">{user.points}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </center>

  <div class="w-full">
    <div class="text-3xl p-3 mt-10 mb-5 text-center">Upcoming and recent matches</div>
    <table class="w-full text-xs md:text-lg text-center">
      <thead>
        <tr class="[&_th]:text-sm [&_th]:md:text-xl">
          <th>Date</th><th>Match</th><th>Result</th><th>Stage</th>
          <th class="text-right">Your Bet</th><th>Points</th>
        </tr>
      </thead>
      <tbody class="[&_tr:nth-child(odd)]:bg-slate-800">
        { games.map((game: any) => (
          <tr>
            <td class="text-right countdown"><span></span><span>{game.date}</span></td>
            <td class="font-semibold"><div class="flex items-center justify-center w-full gap-1">{game.expand ? <div class="text-right w-2/5">
              <span class="hidden lg:inline">{game.expand.team_1?.name}</span> {getFlag(game.expand.team_1?.country_code_3)}</div>
              <div class="text-center px-1 sm:px-3">VS</div>
              <div class="w-2/5 text-left">{getFlag(game.expand.team_2?.country_code_3)} <span class="hidden lg:inline">{game.expand.team_2?.name}</span></div> : ''
            }</div></td>
            <td>{game.status === "FINISHED" ? game.team_1_result + " : " + game.team_2_result : ""}</td>
            <td>{game.stage === "GROUP_STAGE" ? game.group.replace('_',' ') : game.stage.replace('_',' ') }</td>
            <td></td>
            <td></td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>

  <!-- <pre>{JSON.stringify({currentUser, users}, null, 2)}</pre> -->
</Layout>

<script is:inline>
const countdowns = document.getElementsByClassName("countdown");
for (const c of countdowns) {
  const now = new Date().getTime();
  // const spans = elm.getElementsByTagName("span");
  const spans = c.getElementsByTagName("span");
  const matchDate = new Date(spans[1].innerText);
  // less than 48 hours?
  if (spans.length == 2) {
    if(matchDate.getTime() - now < 259200000) {
      showCountdown(matchDate.getTime(), spans[0]);
    }
    const matchTime = matchDate.toLocaleTimeString().split(":");
    matchTime.pop();
    spans[1].innerText = matchDate.toLocaleDateString() + ', ' + matchTime.join(":");
  }
};
function showCountdown(time, elm) {
  var x = setInterval(function() {
    // Get today's date and time
    const now = new Date().getTime();
    // Find the distance between now and the count down date
    const distance = time - now;
    // Time calculations for days, hours, minutes and seconds
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
    // Display the result in the element with id="demo"
    elm.innerHTML = (days > 0 ? days + "d " : '') + (hours > 0 ? hours + "h " : '') + minutes + "m " + seconds + "s left, ";
  
    // If the count down is finished, write some text
    if (distance <= 0) {
      clearInterval(x);
      elm.innerHTML = "";
    }
  }, 1000);
}
</script>