---
import Layout from "@/layouts/Layout.astro";
import { getUser, getAllUsers, getMatches, getUserBets } from "@/services/dbhelper";
import GameTable from "@/components/GameTable.astro"

const pbToken = Astro.cookies.get("pbToken")?.value || '';

const currentUser = await getUser(pbToken);
const users = await getAllUsers(pbToken);
const games = await getMatches(pbToken);
const bets = await getUserBets(pbToken);

---

<Layout title="EURO 2024 Leaderboard">
  <h1>Leaderboard</h1>

  <center>
    <table class="min-w-full sm:min-w-96">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {users.map((user: any, index: number) => (
          <tr class={user.id === currentUser.id ? "text-purple-400 bg-slate-900 font-bold" : ""}>
            <td title={user.email}>{user.username} {(index === 0 && user.points > 0) && '🏆'}</td>
            <td class="text-center">{user.points}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </center>
<!-- Optional table view of matches -->
  <div class="w-full">
    <div class="text-3xl p-3 mt-10 mb-3 text-center">Upcoming and recent matches</div>
    <div class="m-3 rounded-md bg-gradient-to-r from-sky-900 pt-3 pb-2">
      <GameTable games={games} bets={bets}></GameTable>
    </div>
  </div>

  <!-- <pre>{JSON.stringify({currentUser, users}, null, 2)}</pre> -->
</Layout>

<script is:inline>
const countdowns = document.getElementsByClassName("countdown");
for (const c of countdowns) {
  const now = new Date().getTime();
  // const spans = elm.getElementsByTagName("span");
  const spans = c.getElementsByTagName("span");
  const matchDate = new Date(spans[0].innerText);
  const dateDiff = matchDate.getTime() - now;
  // less than 48 hours?
  if (spans.length == 2 && dateDiff > 0 && dateDiff < 259200000) {
    showCountdown(matchDate.getTime(), spans[1], { pre_text: '<span class="hidden sm:inline-block">starts in&nbsp;</span>'});
  }
  const matchTime = matchDate.toLocaleTimeString().split(":");
  matchTime.pop();
  spans[0].innerText = matchDate.toLocaleDateString() + ', ' + matchTime.join(":");
};
</script>