---
import GameCardForm from "./GameCardForm.astro";

const {
  gameId,
  gameStatus,
  teams,
  bets,
  betId,
  betPoints,
  results,
  gameDate,
  deadlineReached,
} = Astro.props;
---

<div
  class={`game-card relative border border-slate-500 rounded-xl p-4 hover:transition-all ${gameStatus === "FINISHED" ? "bg-slate-800" : "bg-slate-900 hover:border-purple-600"}`}
  id={`game-card-${gameId}`}
>
  {/* <p class="text-sm text-slate-300 text-center mb-2">match.type</p> */}
  <p class="text-sm text-slate-300 text-center mb-2">
    {new Date(gameDate).toLocaleString("de-DE").replace(/:\d\d$/, "")}
  </p>
  <div
    class="game text-center text-sm text-slate-300 mb-2"
    data-date={gameDate}
  >
  </div>
  <GameCardForm
    gameId={gameId}
    gameStatus={gameStatus}
    teams={teams}
    bets={bets}
    betId={betId}
    betPoints={betPoints}
    results={results}
    gameDate={gameDate}
    deadlineReached={deadlineReached}
  />
  {
    gameStatus === "FINISHED" ? (
      <div class="flex items-center justify-center mt-4">
        <>
          <div class="text-2xl px-3">{results.split(":")[0]}</div>
          <div class="px-3">:</div>
          <div class="text-2xl px-3">{results.split(":")[1]}</div>
        </>
      </div>
    ) : (
      <div
        class="h-8 mt-4 game-countdown text-center text-sm text-red-300"
        id={`game-countdown-${gameId}`}
      />
    )
  }
  {
    gameStatus === "FINISHED" && (
      <div class="absolute bottom-3 left-3 text-2xl bg-purple-900 rounded-full w-10 h-10 flex items-center justify-center">
        {betPoints}
      </div>
    )
  }
</div>
